@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* configuracoes triangulo hero */
.triangulo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 80%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
  
  .bg-img{
    background-image: url('../images/work_img.png');
  }
  
  .panel {
    display: none; 
    transition: .4s;
  }
  .accordion.active + .panel {
    display: block; 
  }


  /* remove spins input number */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Para Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .disabled {
    pointer-events: none;
    color: grey;
    cursor: default;
    text-decoration: none;
}

/* button for form cad company */
.circle-btn{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffff;
 
}

/* steps for form cad company */
.bullet{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  font-weight: bold;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet.complete > span{
  display: none;
}
.bullet > i{
  display: none;
}
.bullet.complete > i{
  display: block;
}

.bullet::before{
  position: absolute;
  content: '';
  bottom: 11px;
  left: 20px;
  height: 3px;
  width: 190px;
  background-color: #fff;
}
.bullet.complete{
  background-color: #CBE3F2;
}
.bullet.complete::before{
  background-color: #CBE3F2;
}

.bullet.last::after,.bullet.last::before{
  content:none;
}
/* redond image form company */
.redondShapeImage{
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
}
/* redond image for collaborator list */
.redondShapeImageCollaborator{
  border-radius: 50%;
  width: 3rem;
  height:3rem;
}
/* loader */
.loading{
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.loader {
  position: absolute;
  z-index: 20;
  opacity: 1;
  top: 50%;
  right:50%;
  /* transform: translateX(-50%); */
  border: 1rem solid #f3f3f3; 
  border-top: 1rem solid #3498db; 
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* message style  */
.message{
  color: #CBE3F2;
  text-shadow: 1px 1px 1px #000;
  padding: 1rem;
  border-radius: .5rem;
  position: absolute;
  left: 80%;
  top:80%;
  opacity: 0;
  animation: fadeInOut 4s forwards;
}

.sucess{
  background-color: #22C55E;
}
.error{
  background-color: #FD837C;
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
/* assentments for company */
.assessment{
  top: 80%;
  left: 65%
}

/* pop menu  */
.pop-menu{
  position: absolute;
  z-index: 10;
  left: -190%;
  top: 110%;
}

/* span config */
fieldset > div > div > div > span,fieldset > div > div > span,fieldset > div > span{
    content: "";
    padding: .25rem;
}

/* bg-chart for login adm */
.bg-chart{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 50%2c 73%2c 1)'%3e%3c/rect%3e%3cpath d='M0 551.02L10 557.48L20 520.63L30 557.31L40 497.37L50 517.19L60 492.98L70 494.14L80 461.81L90 400.23L100 404.42L110 400.1L120 406.73L130 438.11L140 505.61L150 450.98L160 390.23L170 379.62L180 345.92L190 308.78L200 309.37L210 266.59L220 228.98L230 267.26L240 324.15L250 301.57L260 287.33L270 348.91L280 390.55L290 448.99L300 407.29L310 476.9L320 517.83L330 510.45L340 484.08L350 469.15L360 462.91L370 404.79L380 414.06L390 386.24L400 323.28L410 300.15L420 367.99L430 383.68L440 400.32L450 331.61L460 369.82L470 380.59L480 352.52L490 354.75L500 411.8L510 425.38L520 380.88L530 373.66L540 305.92L550 240.02L560 279.37L570 313.84L580 272.04L590 206.75L600 266.67L610 213.3L620 156.47L630 109.65L640 108.89L650 139.95L660 135.94L670 105.02L680 53.19L690 118.95L700 59.5L710 109.69L720 58.81L730 37.09L740 107.09L750 97.72L760 72.37L770 83.85L780 79.77L790 88.68L800 130.55L810 198.04L820 214.58L830 154.04L840 169.89L850 126.29L860 137.08L870 165.8L880 138.67L890 135.78L900 66.1L910 68.37L920 120.83L930 94.13L940 106.33L950 145.82L960 202.87L970 241.34L980 193.98L990 169.78L1000 108.55L1010 110.61L1020 57.71L1030 112.85L1040 179.27L1050 141.6L1060 76.77L1070 84.81L1080 59.29L1090 91.15L1100 53.39L1110 13.9L1120 18.18L1130 61.86L1140 47.17L1150 52.84L1160 110.65L1170 137.77L1180 80.68L1190 91.18L1200 52.98L1210 111.18L1220 168.36L1230 111.99L1240 127.91L1250 91.96L1260 91.68L1270 113.55L1280 173.82L1290 243.77L1300 190.87L1310 123.65L1320 147.76L1330 212.59L1340 185.27L1350 145.12L1360 213.74L1370 234.26L1380 219.89L1390 151.22L1400 180.68L1410 138.96L1420 174.26L1430 146.54L1440 188.57' stroke='%23224b75' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 551.02L10 557.48L20 520.63L30 557.31L40 497.37L50 517.19L60 492.98L70 494.14L80 461.81L90 400.23L100 404.42L110 400.1L120 406.73L130 438.11L140 505.61L150 450.98L160 390.23L170 379.62L180 345.92L190 308.78L200 309.37L210 266.59L220 228.98L230 267.26L240 324.15L250 301.57L260 287.33L270 348.91L280 390.55L290 448.99L300 407.29L310 476.9L320 517.83L330 510.45L340 484.08L350 469.15L360 462.91L370 404.79L380 414.06L390 386.24L400 323.28L410 300.15L420 367.99L430 383.68L440 400.32L450 331.61L460 369.82L470 380.59L480 352.52L490 354.75L500 411.8L510 425.38L520 380.88L530 373.66L540 305.92L550 240.02L560 279.37L570 313.84L580 272.04L590 206.75L600 266.67L610 213.3L620 156.47L630 109.65L640 108.89L650 139.95L660 135.94L670 105.02L680 53.19L690 118.95L700 59.5L710 109.69L720 58.81L730 37.09L740 107.09L750 97.72L760 72.37L770 83.85L780 79.77L790 88.68L800 130.55L810 198.04L820 214.58L830 154.04L840 169.89L850 126.29L860 137.08L870 165.8L880 138.67L890 135.78L900 66.1L910 68.37L920 120.83L930 94.13L940 106.33L950 145.82L960 202.87L970 241.34L980 193.98L990 169.78L1000 108.55L1010 110.61L1020 57.71L1030 112.85L1040 179.27L1050 141.6L1060 76.77L1070 84.81L1080 59.29L1090 91.15L1100 53.39L1110 13.9L1120 18.18L1130 61.86L1140 47.17L1150 52.84L1160 110.65L1170 137.77L1180 80.68L1190 91.18L1200 52.98L1210 111.18L1220 168.36L1230 111.99L1240 127.91L1250 91.96L1260 91.68L1270 113.55L1280 173.82L1290 243.77L1300 190.87L1310 123.65L1320 147.76L1330 212.59L1340 185.27L1350 145.12L1360 213.74L1370 234.26L1380 219.89L1390 151.22L1400 180.68L1410 138.96L1420 174.26L1430 146.54L1440 188.57L1440 560L0 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1003%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1003'%3e%3cstop stop-opacity='0.65' stop-color='%23224b75' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23508dcc' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/* bg hexagonal for login client */
.bg-hexagonal{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 50%2c 73%2c 1)'%3e%3c/rect%3e%3cpath d='M54.81 -8.04L119.76 29.46L119.76 104.46L54.81 141.96L-10.14 104.46L-10.14 29.46zM184.72 441.96L249.67 479.46L249.67 554.46L184.72 591.96L119.76 554.46L119.76 479.46zM379.58 104.46L444.53 141.96L444.53 216.96L379.58 254.46L314.63 216.96L314.63 141.96zM379.58 554.46L444.53 591.96L444.53 666.96L379.58 704.46L314.63 666.96L314.63 591.96zM509.49 104.46L574.44 141.96L574.44 216.96L509.49 254.46L444.53 216.96L444.53 141.96zM444.53 216.96L509.49 254.46L509.49 329.46L444.53 366.96L379.58 329.46L379.58 254.46zM444.53 441.96L509.49 479.46L509.49 554.46L444.53 591.96L379.58 554.46L379.58 479.46zM509.49 554.46L574.44 591.96L574.44 666.96L509.49 704.46L444.53 666.96L444.53 591.96zM574.44 -8.04L639.39 29.46L639.39 104.46L574.44 141.96L509.49 104.46L509.49 29.46zM639.39 104.46L704.35 141.96L704.35 216.96L639.39 254.46L574.44 216.96L574.44 141.96zM574.44 216.96L639.39 254.46L639.39 329.46L574.44 366.96L509.49 329.46L509.49 254.46zM704.35 216.96L769.3 254.46L769.3 329.46L704.35 366.96L639.39 329.46L639.39 254.46zM704.35 441.96L769.3 479.46L769.3 554.46L704.35 591.96L639.39 554.46L639.39 479.46zM769.3 554.46L834.26 591.96L834.26 666.96L769.3 704.46L704.35 666.96L704.35 591.96zM834.25 -8.04L899.21 29.46L899.21 104.46L834.25 141.96L769.3 104.46L769.3 29.46zM834.25 216.96L899.21 254.46L899.21 329.46L834.25 366.96L769.3 329.46L769.3 254.46zM899.21 329.46L964.16 366.96L964.16 441.96L899.21 479.46L834.25 441.96L834.25 366.96zM834.25 441.96L899.21 479.46L899.21 554.46L834.25 591.96L769.3 554.46L769.3 479.46zM899.21 554.46L964.16 591.96L964.16 666.96L899.21 704.46L834.25 666.96L834.25 591.96zM964.16 -8.04L1029.12 29.46L1029.12 104.46L964.16 141.96L899.21 104.46L899.21 29.46zM1029.12 104.46L1094.07 141.96L1094.07 216.96L1029.12 254.46L964.16 216.96L964.16 141.96zM964.16 216.96L1029.12 254.46L1029.12 329.46L964.16 366.96L899.21 329.46L899.21 254.46zM1029.12 329.46L1094.07 366.96L1094.07 441.96L1029.12 479.46L964.16 441.96L964.16 366.96zM964.16 441.96L1029.12 479.46L1029.12 554.46L964.16 591.96L899.21 554.46L899.21 479.46zM1159.02 104.46L1223.98 141.96L1223.98 216.96L1159.02 254.46L1094.07 216.96L1094.07 141.96zM1159.02 329.46L1223.98 366.96L1223.98 441.96L1159.02 479.46L1094.07 441.96L1094.07 366.96zM1094.07 441.96L1159.02 479.46L1159.02 554.46L1094.07 591.96L1029.12 554.46L1029.12 479.46zM1288.93 104.46L1353.88 141.96L1353.88 216.96L1288.93 254.46L1223.98 216.96L1223.98 141.96zM1288.93 329.46L1353.88 366.96L1353.88 441.96L1288.93 479.46L1223.98 441.96L1223.98 366.96zM1223.98 441.96L1288.93 479.46L1288.93 554.46L1223.98 591.96L1159.02 554.46L1159.02 479.46zM1353.88 -8.04L1418.84 29.46L1418.84 104.46L1353.88 141.96L1288.93 104.46L1288.93 29.46zM1418.84 104.46L1483.79 141.96L1483.79 216.96L1418.84 254.46L1353.88 216.96L1353.88 141.96zM1353.88 216.96L1418.84 254.46L1418.84 329.46L1353.88 366.96L1288.93 329.46L1288.93 254.46zM1418.84 329.46L1483.79 366.96L1483.79 441.96L1418.84 479.46L1353.88 441.96L1353.88 366.96zM1418.84 554.46L1483.79 591.96L1483.79 666.96L1418.84 704.46L1353.88 666.96L1353.88 591.96zM1483.79 216.96L1548.75 254.46L1548.75 329.46L1483.79 366.96L1418.84 329.46L1418.84 254.46zM1548.75 329.46L1613.7 366.96L1613.7 441.96L1548.75 479.46L1483.79 441.96L1483.79 366.96zM1548.75 554.46L1613.7 591.96L1613.7 666.96L1548.75 704.46L1483.79 666.96L1483.79 591.96z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M47.31 -8.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.26 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.26 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM47.31 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-17.64 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-17.64 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM177.22 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM242.17 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM242.17 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM177.22 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.26 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM112.26 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM372.08 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM437.03 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM437.03 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM372.08 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.13 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.13 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM372.08 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM437.03 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM437.03 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM372.08 704.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.13 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM307.13 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.99 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.94 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.94 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.99 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.99 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM437.03 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM372.08 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM437.03 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.99 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.99 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM372.08 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.94 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.94 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.99 704.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.94 -8.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.89 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.89 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM501.99 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.85 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.85 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.89 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.89 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM566.94 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.8 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.8 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.85 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.85 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.8 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.8 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.85 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.89 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM631.89 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.76 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.76 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.8 704.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM696.85 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.75 -8.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.71 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.71 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.75 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.8 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM761.8 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.75 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.71 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.71 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.75 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.66 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.66 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.71 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.75 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.71 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.75 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.66 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.66 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM891.71 704.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM826.75 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.66 -8.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.62 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.62 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.66 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1086.57 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1086.57 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.62 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM956.66 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.62 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1086.57 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1086.57 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.62 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1021.62 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1151.52 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1216.48 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1216.48 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1151.52 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1151.52 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1216.48 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1216.48 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1151.52 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1151.52 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1086.57 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.43 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.38 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.38 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.43 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.43 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.38 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.38 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.43 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.43 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1216.48 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.38 -8.04 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.34 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.34 104.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1281.43 29.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.29 141.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.29 216.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.34 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.34 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.29 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.29 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.34 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.34 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.29 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1476.29 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1411.34 704.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.38 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1346.38 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1541.25 254.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1541.25 329.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1606.2 366.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1606.2 441.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1541.25 479.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1541.25 554.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1606.2 591.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1606.2 666.96 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1541.25 704.46 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M22.04 -32.61L65.34 -7.61L65.34 42.39L22.04 67.39L-21.26 42.39L-21.26 -7.61zM65.34 42.39L108.65 67.39L108.65 117.39L65.34 142.39L22.04 117.39L22.04 67.39zM65.34 342.39L108.65 367.39L108.65 417.39L65.34 442.39L22.04 417.39L22.04 367.39zM65.34 492.39L108.65 517.39L108.65 567.39L65.34 592.39L22.04 567.39L22.04 517.39zM151.95 192.39L195.25 217.39L195.25 267.39L151.95 292.39L108.65 267.39L108.65 217.39zM151.95 342.39L195.25 367.39L195.25 417.39L151.95 442.39L108.65 417.39L108.65 367.39zM195.25 117.39L238.55 142.39L238.55 192.39L195.25 217.39L151.95 192.39L151.95 142.39zM195.25 417.39L238.55 442.39L238.55 492.39L195.25 517.39L151.95 492.39L151.95 442.39zM281.86 267.39L325.16 292.39L325.16 342.39L281.86 367.39L238.55 342.39L238.55 292.39zM368.46 417.39L411.76 442.39L411.76 492.39L368.46 517.39L325.16 492.39L325.16 442.39zM498.37 492.39L541.67 517.39L541.67 567.39L498.37 592.39L455.07 567.39L455.07 517.39zM541.67 117.39L584.97 142.39L584.97 192.39L541.67 217.39L498.37 192.39L498.37 142.39zM584.97 342.39L628.27 367.39L628.27 417.39L584.97 442.39L541.67 417.39L541.67 367.39zM541.67 417.39L584.97 442.39L584.97 492.39L541.67 517.39L498.37 492.39L498.37 442.39zM628.27 -32.61L671.58 -7.61L671.58 42.39L628.27 67.39L584.97 42.39L584.97 -7.61zM671.58 42.39L714.88 67.39L714.88 117.39L671.58 142.39L628.27 117.39L628.27 67.39zM801.49 -32.61L844.79 -7.61L844.79 42.39L801.49 67.39L758.18 42.39L758.18 -7.61zM844.79 42.39L888.09 67.39L888.09 117.39L844.79 142.39L801.49 117.39L801.49 67.39zM888.09 117.39L931.39 142.39L931.39 192.39L888.09 217.39L844.79 192.39L844.79 142.39zM931.39 492.39L974.7 517.39L974.7 567.39L931.39 592.39L888.09 567.39L888.09 517.39zM974.7 267.39L1018 292.39L1018 342.39L974.7 367.39L931.39 342.39L931.39 292.39zM1104.6 492.39L1147.9 517.39L1147.9 567.39L1104.6 592.39L1061.3 567.39L1061.3 517.39zM1147.9 267.39L1191.21 292.39L1191.21 342.39L1147.9 367.39L1104.6 342.39L1104.6 292.39zM1364.42 192.39L1407.72 217.39L1407.72 267.39L1364.42 292.39L1321.12 267.39L1321.12 217.39zM1321.12 417.39L1364.42 442.39L1364.42 492.39L1321.12 517.39L1277.81 492.39L1277.81 442.39zM1407.72 267.39L1451.02 292.39L1451.02 342.39L1407.72 367.39L1364.42 342.39L1364.42 292.39zM1451.02 342.39L1494.33 367.39L1494.33 417.39L1451.02 442.39L1407.72 417.39L1407.72 367.39zM1451.02 492.39L1494.33 517.39L1494.33 567.39L1451.02 592.39L1407.72 567.39L1407.72 517.39z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}